html {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #EFF8FF;
    background-color: #EFF8FF !important;
}


/* navbar */

nav {
    background: #FFFFFF;
    height: 70px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.instant {
    color: #010036;
    font-weight: 600;
    font-size: 18.6694px;
}

.logo {
    display: flex;
    float: left;
    padding: 5px 30px;
}

.dropdown-toggle::after {
    display: none !important;
}

.derecha {
    float: right;
    display: flex;
    line-height: 60px;
}

.derecha .btn {
    margin-right: 20px;
    text-align: center;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.active {
    font-weight: 600;
    font-style: normal;
    color: #2D77FF !important;
    display: flex;
    position: relative;
}

.active:before {
    content: "";
    position: absolute;
    width: 70%;
    bottom: 0;
    left: 15%;
    border-bottom: 5px solid #2D77FF;
    border-radius: 20px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    padding: 7px 13px;
}

nav ul li a {
    display: flex;
    margin-left: 1em;
    font-size: 1em;
    color: black !important;
    text-transform: uppercase;
}

.icono {
    margin-right: 0.5em;
}

a:hover {
    color: #2D77FF !important;
    transition: .5s;
}

@media (max-width: 1329px) {
    nav a {
        font-size: .8em !important;
    }
}

@media (max-width: 667px) {
    .instant {
        font-size: 13px;
    }
    .virtual {
        width: 100%;
    }
    .cardd {
        margin: auto 0;
    }
    .logo {
        padding-left: 0;
        padding-right: 0;
        width: 180px;
    }
    .btn-nvbar {
        font-size: 9px !important;
    }
    .nav-link span {
        display: none;
    }
}

@media (max-width: 423px) {
    .logo {
        width: 110px;
    }
}

@media (max-width: 1182px) {
    .text-black {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-left: 1em;
        padding-right: 1em;
        position: fixed;
        bottom: 0;
        z-index: 1;
        width: 100%;
        background: white;
    }
    nav a {
        font-size: 12px !important;
    }
    .active:before {
        border: 0;
    }
}

@media (max-width: 776px) {
    nav ul a {
        display: block !important;
    }
    .icono {
        height: 22px;
        text-align: center;
    }
}

@media (max-width: 375px) {
    nav a {
        font-size: 10px !important;
    }
}


/* end navbar */


/* content */

h1 {
    font-weight: bold !important;
    font-size: 40px !important;
}

h2 {
    font-weight: bold !important;
    font-size: 28px !important;
}

h5 {
    font-weight: bold !important;
    font-size: 19.5827px !important;
}

span {
    font-size: 18px !important;
}


/* carrousel */

.circle {
    background: blue;
    padding: 5px;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.targ {
    border-radius: 10px;
    width: 333px;
    padding: 25px;
    color: white;
    margin: 0 1rem;
}

.title-target {
    font-size: 16.544px !important;
    color: white;
}

.btn-targ {
    margin-left: auto;
    color: #fff;
    background: #5DB1FF;
    border-radius: 9px;
    font-size: 14px !important;
    padding: 9px;
    border: 0;
}

.limit {
    font-size: 12px !important;
}

.progress {
    height: 10px !important;
}

.bg-progress {
    background-color: #51D676 !important;
}

.slick-slide {
    opacity: 0.3;
    transition: all ease 0.5s;
}

.slick-current {
    transform: scale(1);
    border: 4px solid #27B660;
    opacity: 1;
}


/* end carrousek */


/* table */

.btn-table {
    padding: 3px 10px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
    font-size: 14px !important;
}

.col2 {
    justify-content: space-between;
    display: flex;
}

.search {
    padding: 10px 0;
    background: #FFFFFF;
    border-radius: 10px;
}

.search input {
    width: 80%;
    border: 0;
    font-size: 14px !important;
}

.btn-table-2 {
    background-color: #4D5B81!important;
}

.tr-table {
    background: #E5E5E5;
}

th {
    font-size: 14px !important;
}

th button {
    font-size: 14px !important;
}


/* end table */

@media (max-width: 800px) {
    h1 {
        font-size: 20px !important;
    }
    h2 {
        font-size: 26px !important;
    }
    h5 {
        font-size: 16px !important;
    }
    span {
        font-size: 14px !important;
    }
    .targ {
        width: 286px;
    }
    .title-target {
        font-size: 14px !important;
    }
    .btn-targ {
        font-size: 11px !important;
    }
    .arrow_prev {
        display: none !important;
    }
    .arrow_next {
        display: none !important;
    }
    .btn-table {
        font-size: 12px !important;
    }
    th {
        font-size: 12px !important;
    }
    th button {
        font-size: 12px !important;
    }
    button {
        font-size: 12px !important;
    }
}


/* end content */


/* footer */

.bf-footer {
    background: #181C2C;
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.instant-f {
    color: white;
}

.texto-fo {
    text-align: center;
}


/* end footer */