body {
    background: #EFF8FF;
    font-family: Open Sans, sans-serif;
}

.instant {
    font-family: Graphik;
    font-size: 19px;
    font-weight: 600;
    line-height: 21px;
    font-style: italic;
}

.dropdown-toggle::after {
    display: none;
}

.nav-link {
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: black;
}

.active {
    font-family: Graphik;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    color: #2D77FF;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.active:before {
    content: "";
    position: absolute;
    width: 70%;
    bottom: 0;
    left: 15%;
    border-bottom: 5px solid #2D77FF;
    border-radius: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bf-footer {
    background: #181C2C;
}

footer {
    margin-top: 130px;
}


/* body */

.fondo-form {
    background: #272B3E;
    border-radius: 10px;
    border: 4px solid #494D6D;
}

.select-form {
    background: #04041C;
    border-radius: 10px;
    color: white;
}

.select-form2 {
    background: #04041C;
    color: white;
    border: 0;
}

.credit {
    background: linear-gradient(114.88deg, #2267FE 11.09%, #47B2F0 60.69%, #4DE6E6 114.61%);
    border-radius: 5.808581352233887px;
    padding: 12px;
}

.desenfoque {
    position: static;
    width: 117px;
    height: 15px;
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    filter: blur(4px);
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}

.azules {
    color: #2D77FF;
    background: transparent;
    border: 0;
    margin-left: auto;
}

.copy {
    padding: 20px 10px;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    background: #04041C;
    border-radius: 10px;
    color: #fff;
}